:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main{
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content:center;
}

.card {
  border-radius: 5px;
  width: 20%;
  background-color: gray;
  padding: 1rem;
}
.card img{
  max-width: 100%;
}

.card:hover{
  background-color: lightgrey;
}

.scoreboard{
  display: flex;
  gap: 1rem;
}